h2 block_top
.inner
  .movZone
    ul.movBox
      -var movId = "zLqyFCi5tWk"
      li(data-ytId=movId): img(src="http://img.youtube.com/vi/" + movId + "/maxresdefault.jpg", alt="")

  .cmBox(style="display: none;")
    .cmInner
    span.close ×

