h2 MAGAZINE 

.acrdBox.no1
  +gaTag("dt", "Adn_menu_01")(class="acrdBtn show") アコーディオンタイトル
  .acrdCont(style='display: block;') アコーディオン箱
.acrdBox.no2
  +gaTag("dt", "Adn_menu_02")(class="acrdBtn") アコーディオンタイトル
  .acrdCont アコーディオン箱