
.bg
  .inner
  .cont
    h1: +img("main/logo.png", seriesTtl)
    p.day: +img("main/day.png", `${release}創刊`)
    p.price: +pic("main/price.png","main/price_sp.png", `${priceAll}`)
    p.copy: +pic("main/txt2.png", "main/text-cop.png")
    p.txt: +img("main/txt.png", "")
    p.car: +img("main/photo.png","")
    a.btn(href=teikiUrl): +img("main/btn.png", "送料無料 定期購読お申し込み >")