.inner-top
  .back-img 
    .in-main 
      .top-text
        p: img(src="common/images/main/top-text.png")
      .intext
        p: +pic("main/intext.png","main/intext-2.png")
      .car 
        p: img(src="common/images/main/car.png")
      .price
        p: +pic("main/price.png","main/price-2.png")
      .date 
        p: +pic("main/date.png","main/date-2.png")
      .click 
        p: img(src="common/images/main/click.png")
  .inner-top-next
    .bg-top
      .title
        img(src="common/images/main/title-main.png")
      .text-down 
        span.t 究極のスケールモデルで所有する、#[br]日本が誇る伝説の名車。#[br]
        span.b 完成する2000GTは実車の1/6サイズという、迫力のビッグスケール。#[br.pc]だからこそ、ロングノーズandショートデッキの美しいフォルムはもちろん、足回りやインパネ周り、#[br.pc]内装、エンジンなど、あらゆるパーツの細部に至るまで、実車に忠実に再現することが可能となった。#[br.pc]また、リトラクタブルライトも実車通りのスピードで展開するほか、ドアの開閉、ステアリングの操作、#[br.pc]バッテリーボックスやエアクリーナーを収納するサイドパネルの開閉など、こだわりのギミックも満載。#[br.pc]さらに、エンジン音やライトの点灯はリモコン操作で楽しめる。#[br.pc]“日本初の国産スーパーカー”の名にふさわしい、堂々たるビッグスケールモデルが完成する。
      .scale-text
        img(src="common/images/main/1_6Scale.png")
      .imgBox
        img(src="common/images/main/img1.png")
      .mid-text 
        p: img(src="common/images/main/mid-text.png")
      .top-car 
        p: img(src="common/images/main/top-car.png")
      .rear-car 
        p: img(src="common/images/main/rear-car.png")
      .front-car
        p: img(src="common/images/main/front-car.png")
      .click-Last 
        p: img(src="common/images/main/click-L.png")
