.inner
  h2 近刊予告

  .spScrlX
    .numBox
      - for (var i = 1; i <= 5; i++)
        a.mdlNum(target="_blank" href=pathLower + "number/0" + i + ".html")
          if i == 1
            .img #[img(src=pathImg + "number/img0" + i + ".png" loading="lazy" alt="創刊号")]
            p: strong 創刊号
          else
            .img #[img(src=pathImg + "number/img0" + i + ".png" loading="lazy" alt="第" + i + "号")]
            p 第#[em #{i}]号

  .toNext 以降続々刊行予定！乞うご期待！
    small ※ラインナップ予定は変更になる場合がございます。
