/*----------------------------------------
  マガジン
----------------------------------------*/

$name: "magazine";
$thisPath: $pathImg + $name + "/";

article:not(.block_#{$name}){
//  display: none;
}
.block_#{$name}{
  @include mq{
  }
  h2{
    padding: 30px 0;
    font-size: 4.8rem;
    font-weight: bold;
  }
  .acrdBox{
    margin-bottom: 50px;
    border: 1px solid #f00;
    .acrdBtn{
      background-color: #f00;
      color: #fff;
    }
    .acrdCont{
    }
  }
}
