@charset "UTF-8";
/*----------------------------------------
  メイン
----------------------------------------*/

$name: "main";
$thisPath: $pathImg + $name + "/";

article:not(.block_#{$name}){
//  display: none;
}
.block_#{$name}{
  @include mq{
  }
  .pc{
    .bg{
      background-color: rgba(0,0,255,0.1);
    }
    .inner{
      height: 500px;
      > *{
        position: absolute;
      }
    }
    h1{
      top: 20px;
      left: 20px;
    }
    .day{
      top: 10px;
      left: 490px;
    }
    .price{
      top: 180px;
      left: 20px;
    }
    .copy{
      top: 100px;
      left: 670px;
    }
    .txt{
      top: 170px;
      left: 550px;
    }
    .btn{
      top: 398px;
      left: 550px;
      @include hvrBrt;
    }
  }
  .sp{
  }
}

