@charset "UTF-8";
/*----------------------------------------
  メイン
----------------------------------------*/

$name: "main";
$thisPath: $pathImg + $name + "/";

article:not(.block_#{$name}){
//  display: none;
}
.block_#{$name}{
  .bg{
    background-image: url("/common/images/main/bg.jpg");
    .cont{
      width:980px;
      height: 707px;
      margin: 0 auto;
      position: relative;
      h1{
        position: absolute;
        left: 100px;
        top: 32px;
      }
      .day{
        position: absolute;
        right: 0px;
        top: 30px;
      }
      .txt2{
        position: absolute;
        left: 0px;
        bottom: 30px;
      }
      .btn{
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    }
  }
}

