doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  include /_parts/_head.pug
    link(href='https://fonts.googleapis.com/earlyaccess/notosansjapanese.css', rel='stylesheet', type='text/css', media='all')
    +css2("style.css")
    +css2("other.css")
    +js2("plugin.js")
    +js2("title.js")

    h1 内容が入る