.scrlBox
  ul
    li: a.clkScrl(href="#secRule") 基本ルール
    li: a.clkScrl(href="#secTtl") タイトル
    li: a.clkScrl(href="#secAcrd") アコーディオン
    li: a.clkScrl(href="#secBln") 吹き出し
  p クリックでスクロールは
    br
    |aタグに.clkScrlを設定する
    br
    |移動先はhref="#～"で指定
  p .clkScrlの停止位置を調整する場合は停止先の#[br]&lt;a id="#～" name="#～"&gt;&lt;/a&gt;を#[br]position:relative;で調整する




