//全国版のフッター
article.nationalFoot
  .inner
    .bnTrial
      +ga(0, "Trial_buy", trialUrl)
        img(src= pathImg + 'national/bn_soukan.png', loading="lazy", alt=`創刊号をお試し購入（1月31日まで）送料無料キャンペーン実施中 ※${release}ごろお届け予定 >お試し購入`, width='402')

    .bnBtns
      p.btnNotice
        +ga(1, "mail_registar", `/magazine/remind.php?title_code=${seriesInitLower}`)
          span 発売日お知らせメール登録

      #ftSns
        include /_national/_sns.pug





