.navObiWrap
  .navObi
    .inner
      nav
        +ga(0, "New_backnumber", `https://deagostini.jp/backnumber/key_search.php?title_code[]=${seriesInitLower}`): span バックナンバー・マガジンケース
        +ga(1, "FAQ", faqUrl): span よくあるご質問
        +ga(1, "Subs_subscribe_01", teikiUrl)(class="bar"): span 定期購読お申し込み
